
@{
    ViewBag.Title = "BeforeLogin";
}


@{ 
    string ReturnUrl = ViewBag.ReturnUrl;
}
<div class="d-flex align-content-center min-vh-100">

    <div class="container   box1">
        <h2>Before Proceeding</h2>
        <div class="container   box1">
            <h5>Do you Know me ?</h5>
        </div>
        <div class="container   box1">
            <h1 class="font-weight-bolder"> [</h1>
            <h5 class="btn btn-outline-dark" onclick="myfunction('@ViewBag.ReturnUrl')">Yes</h5>
            <h5>/</h5>
            <h5 class="btn btn-dark btn-outline-light font-weight-bold" onclick="myfunction2('@ViewBag.ReturnUrl')">No</h5>
            <h1 class="font-weight-bolder"> ]</h1>
        </div>
    </div>



</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script type="text/javascript">

    function myfunction(ReturnUrl) {
        var url
        if (confirm('You Sure ?')) {
            url = '../Login/SignIn?ReturnUrl=' + ReturnUrl
        } else {
            alert('Why did you press cancel? You should have confirmed');
            url = '../Login/SignUp?ReturnUrl=' + ReturnUrl
        }
        window.location.href = url
    }

    function myfunction2(ReturnUrl) {
        window.location.href = '../Login/SignUp?ReturnUrl=' + ReturnUrl
    }

</script>