@{
    ViewBag.Title = "Home Page";
}


@*<div class="jumbotron box1 vertical-center" style="background-color:white; " >
    <h1>Hi.</h1>

</div>*@
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<div class=" d-flex align-items-center min-vh-100 ">
    <div class="container box1">
        <h1>Hi.!!</h1>

    </div>    
    <div class="container box1">
        <h5>in this website you'll eventually <scope class="font-weight-bold" onclick="find()">find()</scope>  nothing</h5>
    </div>    

</div>
<script type="text/javascript">

    //$(function() {
    //    alert("2");
    //})

    function find() {
        alert('oh Smart. lets move.');
        window.location.href='../Login/BeforeLogin'
    }

</script>

